#calender-months > p{
    font-weight: 700;
    font-size: 44px;
    font-family: "Irish Grover", "Tajawal", sans-serif;
}
#calender-months{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 25px;
}